<h1>Listing neighbors</h1>

<table>
  <thead>
    <tr>
      <th>Address</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @neighbors.each do |neighbor| %>
      <tr>
        <td><%= neighbor.address %></td>
        <td><%= neighbor.rating %></td>
        <td><%= link_to 'Show', neighbor %></td>
        <td><%= link_to 'Edit', edit_neighbor_path(neighbor) %></td>
        <td><%= link_to 'Destroy', neighbor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neighbor', new_neighbor_path %>
