<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= link_to root_url, class: "mini-logo" do %>
      <span>Neighbor</span>
      <span>Hater</span>
    <% end %>
  </div>
</div>

<div class="address-detail row">
  <div class="col-md-8 col-md-offset-2">
    <h2>
      <%= @location.street_address %>
      <% if @location.apartment_number.present? %>
        Apt. <%= @location.apartment_number %>
      <% end %>
    </h2>
    <h2><%= @location.city_zip_and_country %></h2>
  </div>
</div>

<div class="comments row">
  <div class="col-md-4 col-md-offset-2">
    <h3 class="taunt">
      <%= random_taunt %>
    </h3>

    <%= simple_form_for [@location, @comment] do |f| %>

    <% if @comment.errors[:base].any? %>
      <ul>
        <% @comment.errors[:base].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.input :headline, placeholder: "Headline" %>

    <%= f.input :body, placeholder: "Comment", required: true,  wrapper_html: {class: "comment-input"}, :as => :text %>

    <%= f.submit 'Submit', class: "btn" %>
  <% end %>
  </div>
  <div class="col-md-4 comment-view">
    <ul>
      <% @location.comments.most_recent_first.each do |comment| %>
        <li>
          <h3><%= comment.headline %></h3>
          <%= comment.body %>
          <i class="timestamp"><%= time_ago_in_words(comment.created_at) %></i>
        </li>
      <% end %>
    </ul>
  </div>
</div>
