<p>
  <strong>Address:</strong>
  <%= @location.address %>
  <%= "Apartment " + @location.apartment_number if @location.apartment_number.present? %>
</p>
<p>
</p>

<!--   <%= link_to "Edit", edit_location_path(@location) %> |
  <%= link_to "Destroy", @location, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", locations_path %> -->