<div class="address-detail row">
  <h1 class="mini-logo">
    <span>Neighbor</span>
    <span>Hater</span>
  </h1>

  <div class="col-md-4 col-md-offset-2">
    <h1><%= @location.address %></h1>

    <h3>Ready to talk trash</h3>

    <%= simple_form_for [@location, @comment] do |f| %>

    <% if @comment.errors[:base].any? %>
      <ul>
        <% @comment.errors[:base].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>

    <%= f.input :headline, placeholder: "Headline" %>

    <%= f.input :body, placeholder: "Comment", required: true,  wrapper_html: {class: "comment-input"}, :as => :text %>

    <%= f.submit 'Submit', class: "btn" %>
  <% end %>
  </div>
  <div class="col-md-4 comment-view">
    <%  @location.comments.each do |comment| %>
      <strong>
        <%= comment.headline %>
      </strong>
      <br>
      <%= comment.body %>
      <i><%= time_ago_in_words(comment.created_at) %></i>
    <% end %>
  </div>
</div>
